src/view/index.pug
extends include/main

block variables
  - let title = 'FastApp'
  - let description = ''

block content
  section#index
    .container
      .index.content
        .index__wrap
          .index__title
            h1 Lose weight and feel great with FastApp
          .index__lead
            p Add some text which would reflect basic information about app and it′s functions
          .index__button
            .button
              a(href='//apps.apple.com/en/app/fastapp' target='_blank' title='App Store – Apple')
                svg
                  use(href='/image/icon/app-store.svg#app-store')
        .index__image
          img(src='/image/illustration/main.png' srcset='/image/illustration/main@2x.png 2x' loading='eager' alt='illustration')
  section#feature
    .container
      .feature.content
        ul.feature-list
          li.feature-list__item
            .feature-list__title
              h2 Track your fasting
            .feature-list__text
              p Smart and flexible tracking. Start and End your fasts with one quick click
            .feature-list__image.feature-list__image-1
              img(src='/image/illustration/fasting.png' srcset='/image/illustration/fasting@2x.png 2x' loading='lazy' alt='illustration')
          li.feature-list__item
            .feature-list__title
              h2 Track your progress
            .feature-list__text
              p See how fasting helps with weight loss
            .feature-list__image.feature-list__image-2
              img(src='/image/illustration/progress.png' srcset='/image/illustration/progress@2x.png 2x' loading='lazy' alt='illustration')
          li.feature-list__item
            .feature-list__title
              h2 Choose your fasting plan
            .feature-list__text
              p Individual fasting plans for beginers and advenced users.
            .feature-list__image.feature-list__image-3
              img(src='/image/illustration/plan.png' srcset='/image/illustration/plan@2x.png 2x' loading='lazy' alt='illustration')
          li.feature-list__item
            .feature-list__title
              h2 Know your body
            .feature-list__text
              p Monitor the different stages of fasting as you lose weight
            .feature-list__image.feature-list__image-4
              img(src='/image/illustration/body.png' srcset='/image/illustration/body@2x.png 2x' loading='eager' alt='illustration')
          li.feature-list__item
            .feature-list__title
              h2 Stay Hydrated
            .feature-list__text
              p Logs your water intake and sends reminders
            .feature-list__image.feature-list__image-5
              img(src='/image/illustration/water.png' srcset='/image/illustration/water@2x.png 2x' loading='lazy' alt='illustration')
          li.feature-list__item
            .feature-list__title.feature-list__title-m-margin-bottom-24.feature-list__title-d-margin-bottom-40
              h2 Start intermittent fasting right now
            .feature-list__button
              .button
                a(href='//apps.apple.com/en/app/fastapp' target='_blank' title='App Store – Apple')
                  svg
                    use(href='/image/icon/app-store.svg#app-store')

public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FastApp</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ilya Lynd <ilya.lynd@gmail.com>">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link href="/favicon.svg" rel="icon">
    <link href="/mask-icon.svg" rel="mask-icon" color="#ffffff">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/manifest.json" rel="manifest">
  <link href="/assets/css/main.css?v=8ec73be" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="FastApp"><img src="/image/logo.svg" alt="FastApp"></a></div>
    </div>
  </div>
</header>
      <main>
        <section id="index">
          <div class="container">
            <div class="index content">
              <div class="index__wrap">
                <div class="index__title">
                  <h1>Lose weight and feel great with FastApp</h1>
                </div>
                <div class="index__lead">
                  <p>Add some text which would reflect basic information about app and it′s functions</p>
                </div>
                <div class="index__button">
                  <div class="button"><a href="//apps.apple.com/en/app/fastapp" target="_blank" title="App Store – Apple">
                      <svg>
                        <use href="/image/icon/app-store.svg#app-store"></use>
                      </svg></a></div>
                </div>
              </div>
              <div class="index__image"><img src="/image/illustration/main.png" srcset="/image/illustration/main@2x.png 2x" loading="eager" alt="illustration"></div>
            </div>
          </div>
        </section>
        <section id="feature">
          <div class="container">
            <div class="feature content">
              <ul class="feature-list">
                <li class="feature-list__item">
                  <div class="feature-list__title">
                    <h2>Track your fasting</h2>
                  </div>
                  <div class="feature-list__text">
                    <p>Smart and flexible tracking. Start and End your fasts with one quick click</p>
                  </div>
                  <div class="feature-list__image feature-list__image-1"><img src="/image/illustration/fasting.png" srcset="/image/illustration/fasting@2x.png 2x" loading="lazy" alt="illustration"></div>
                </li>
                <li class="feature-list__item">
                  <div class="feature-list__title">
                    <h2>Track your progress</h2>
                  </div>
                  <div class="feature-list__text">
                    <p>See how fasting helps with weight loss</p>
                  </div>
                  <div class="feature-list__image feature-list__image-2"><img src="/image/illustration/progress.png" srcset="/image/illustration/progress@2x.png 2x" loading="lazy" alt="illustration"></div>
                </li>
                <li class="feature-list__item">
                  <div class="feature-list__title">
                    <h2>Choose your fasting plan</h2>
                  </div>
                  <div class="feature-list__text">
                    <p>Individual fasting plans for beginers and advenced users.</p>
                  </div>
                  <div class="feature-list__image feature-list__image-3"><img src="/image/illustration/plan.png" srcset="/image/illustration/plan@2x.png 2x" loading="lazy" alt="illustration"></div>
                </li>
                <li class="feature-list__item">
                  <div class="feature-list__title">
                    <h2>Know your body</h2>
                  </div>
                  <div class="feature-list__text">
                    <p>Monitor the different stages of fasting as you lose weight</p>
                  </div>
                  <div class="feature-list__image feature-list__image-4"><img src="/image/illustration/body.png" srcset="/image/illustration/body@2x.png 2x" loading="eager" alt="illustration"></div>
                </li>
                <li class="feature-list__item">
                  <div class="feature-list__title">
                    <h2>Stay Hydrated</h2>
                  </div>
                  <div class="feature-list__text">
                    <p>Logs your water intake and sends reminders</p>
                  </div>
                  <div class="feature-list__image feature-list__image-5"><img src="/image/illustration/water.png" srcset="/image/illustration/water@2x.png 2x" loading="lazy" alt="illustration"></div>
                </li>
                <li class="feature-list__item">
                  <div class="feature-list__title feature-list__title-m-margin-bottom-24 feature-list__title-d-margin-bottom-40">
                    <h2>Start intermittent fasting right now</h2>
                  </div>
                  <div class="feature-list__button">
                    <div class="button"><a href="//apps.apple.com/en/app/fastapp" target="_blank" title="App Store – Apple">
                        <svg>
                          <use href="/image/icon/app-store.svg#app-store"></use>
                        </svg></a></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer-copyright">
        <p>&copy; FastApp</p>
      </div>
      <nav class="footer-menu">
        <ul>
          <li><a href="#" target="_blank" title="Privacy&amp;Policy">Privacy&amp;Policy</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
    </div>
    <!-- js-->
  <script defer src="/assets/js/main.js?v=c598d7a"></script></body>
</html>
